body {
    background-color: aliceblue;
}

h1 {
    color: brown; text-align: center;
}

h2 {
    color : navy; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

header {
    border-bottom: 1px solid black;
}

ul {
    border: 1px dotted black;
}
p {
    color:black;
    font-size: 1em;
    text-indent: 1em;
    font-family: "휴먼편지체";
}
footer {
    background-color: orange; 
    border-radius: 10px;
    padding: 10px;
}